$headings-font-family:        'Poppins' !default;
$font-family-base:            $headings-font-family !default;
$text-color:                  #000000 !default;

//colors
$brand-primary:               #3498dc !default;
$brand-secondary:             #ff682b !default;